/* style.css */

header {
    /* Add your styles for the header here */
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;

}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content, .footer-social {
    display: inline-block;
    vertical-align: top;
}

.footer-content ul, .footer-social ul {
    list-style-type: none;
}

.footer-content ul li, .footer-social ul li {
    margin-bottom: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

ul li {
    margin: 0 10px;
}

ul li a {
    display: inline-block;
    background: #ddd;
    color: #333;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: background 0.3s ease;
}

ul li a:hover {
    background: #333;
    color: #fff;
}